body {
  background: black;
}
.slider {
  position: relative;
  max-width: 680px;
  margin: 50px auto;
}

.slider input[name="point"] {
  display: none;
}

.switch {
  text-align: end;
  width: 100%;
}

.switch label {
  display: inline-block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin: 20px 0 0 10px;
  border-radius: 50%;
  background-color: royalblue;
}

.switch label:hover {
  display: inline-block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}

.switch label:before {
  content: "";
  padding: 15px;
}

#slide1:checked ~ .switch label[for="slide1"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

#slide2:checked ~ .switch label[for="slide2"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

#slide3:checked ~ .switch label[for="slide3"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

#slide4:checked ~ .switch label[for="slide4"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  transition: all 0.5s;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
}

#slide1:checked ~ .slider-inner .slides {
  transform: translate(0);
}

#slide2:checked ~ .slider-inner .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider-inner .slides {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider-inner .slides {
  transform: translateX(-300%);
}
