body {
  background: black;
}
.slider {
  position: relative;
  max-width: 680px;
  margin: 50px auto;
}

.slider input[name="point"] {
  display: none;
}

.switch {
  text-align: end;
  width: 100%;
  position: relative;
  top: -100px;
}

.switch label {
  display: inline-block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin: 20px 0 0 10px;
  border-radius: 50%;
  background-color: royalblue;
}

.switch label:hover {
  display: inline-block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}

.switch label:before {
  content: "";
  padding: 15px;
}

#slide1:checked ~ .switch label[for="slide1"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

#slide2:checked ~ .switch label[for="slide2"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

#slide3:checked ~ .switch label[for="slide3"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

#slide4:checked ~ .switch label[for="slide4"] {
  width: 15px;
  height: 15px;
  border: 2px solid royalblue;
  background-color: black;
  position: relative;
  top: 2px;
}

.slider-inner {
  overflow: hidden;
  width: 100%;
  height: 50rem;
  float: left;
}

.slides {
  display: flex;
  width: 400%;
  transition: all 0.7s;
  height: 44rem;
  float: left;
}

.slimg {
  width: 100%;
  height: 100%;
  float: left;
  transition: all 0.7s;
}

.slide1 {
  background-image: url("imgs/1.png");
  background-size: cover;
}

.slide2 {
  background-image: url("imgs/2.png");
  background-size: cover;
}

.slide3 {
  background-image: url("imgs/3.png");
  background-size: cover;
}

.slide4 {
  background-image: url("imgs/4.png");
  background-size: cover;
}

#slide1:checked ~ .slider-inner .slimg {
  transform: translate(0);
}

#slide2:checked ~ .slider-inner .slimg {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider-inner .slimg {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider-inner .slimg {
  transform: translateX(-300%);
}

.slides p {
  color: whitesmoke;
  font-size: 1.3em;
  position: relative;
  top: 700px;
}



@media (max-width: 375px) {
  .slider {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 50px auto;
  }

  .slides {
    display: flex;
    width: 1200px;
    transition: all 0.5s;
    height: 700px;
  }

  .slider-inner {
    overflow: hidden;
    width: 300px;
    height: 700px;
  }

  .slimg {
    width: 300px;
    height: 300px;
  }

  .slide1 {
    background-image: url("imgs/1.png");
    background-size: cover;
  }

  .slide2 {
    background-image: url("imgs/2.png");
    background-size: cover;
  }

  .slide3 {
    background-image: url("imgs/3.png");
    background-size: cover;
  }

  .slide4 {
    background-image: url("imgs/4.png");
    background-size: cover;
  }

  .switch {
    text-align: center;
    width: 100%;
    position: relative;
    top: -390px;
  }

  .slides p {
    color: whitesmoke;
    font-size: 1.2em;
    position: relative;
    top: 350px;
  }
}
